@page "/contacts"

<h1>Contacts</h1>
<button class="btn btn-primary" @onclick="ShowAddModal">Add Contact</button>

<table class="table mt-3">
    <thead class="table-header">
        <tr>
            <th><button @onclick='() => SortContacts("Id")'>Id @GetSortDirection("Id")</button></th>
            <th><button @onclick='() => SortContacts("FirstName")'>First Name @GetSortDirection("FirstName")</button></th>
            <th><button @onclick='() => SortContacts("LastName")'>Last Name @GetSortDirection("LastName")</button></th>
            <th><button @onclick='() => SortContacts("Email")'>Email @GetSortDirection("Email")</button></th>
            <th><button @onclick='() => SortContacts("PhoneNumber")'>Phone @GetSortDirection("PhoneNumber")</button></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in contacts)
        {
            <tr>
                <td>@contact.Id</td>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.Email</td>
                <td>@contact.PhoneNumber</td>
                <td>
                    <button class="btn btn-secondary" @onclick="() => ShowEditModal(contact)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => Delete(contact)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (showModal)
{
    <ContactForm Contact="editingContact" OnClose="HandleClose" />
}

@code {
    private List<Contact> contacts = new();
    private Contact editingContact = new();
    private bool showModal = false;
    private string sortColumn = "Id";
    private bool ascending = true;

    protected override void OnInitialized()
    {
        contacts = ContactService.GetAll();
    }

    void ShowAddModal()
    {
        editingContact = new Contact();
        showModal = true;
    }

    void ShowEditModal(Contact contact)
    {
        editingContact = contact;
        showModal = true;
    }

    async void Delete(Contact contact)
    {
        var confirmed = await SweetAlertInterop.SweetAlertConfirm(JsRuntime, "Are you sure you want to delete this contact?");
        if (confirmed)
        {
            ContactService.Delete(contact.Id);
            contacts.Remove(contact);
            StateHasChanged();
        }
    }

    void HandleClose()
    {
        showModal = false;
        StateHasChanged();
    }

    void SortContacts(string columnName)
    {
        if (sortColumn != columnName)
        {
            sortColumn = columnName;
            ascending = true;
        }
        else
        {
            ascending = !ascending;
        }

        switch (sortColumn)
        {
            case "Id":
                if (ascending)
                    contacts.Sort((x, y) => x.Id.CompareTo(y.Id));
                else
                    contacts.Sort((x, y) => y.Id.CompareTo(x.Id));
                break;
            case "FirstName":
                if (ascending)
                    contacts.Sort((x, y) => string.Compare(x.FirstName, y.FirstName));
                else
                    contacts.Sort((x, y) => string.Compare(y.FirstName, x.FirstName));
                break;
            case "LastName":
                if (ascending)
                    contacts.Sort((x, y) => string.Compare(x.LastName, y.LastName));
                else
                    contacts.Sort((x, y) => string.Compare(y.LastName, x.LastName));
                break;
            case "Email":
                if (ascending)
                    contacts.Sort((x, y) => string.Compare(x.Email, y.Email));
                else
                    contacts.Sort((x, y) => string.Compare(y.Email, x.Email));
                break;
            case "PhoneNumber":
                if (ascending)
                    contacts.Sort((x, y) => string.Compare(x.PhoneNumber, y.PhoneNumber));
                else
                    contacts.Sort((x, y) => string.Compare(y.PhoneNumber, x.PhoneNumber));
                break;
            default:
                break;
        }
    }

    public static class SweetAlertInterop
    {
        public static async ValueTask<bool> SweetAlertConfirm(IJSRuntime jsRuntime, string message)
        {
            try
            {
                var x = await jsRuntime.InvokeAsync<bool>("sweetAlertConfirm", message);
                return x;
            }
            catch (Exception ex)
            {
                var e = ex;
            }
            return false;

        }
    }


    string GetSortDirection(string columnName)
    {
        if (sortColumn == columnName)
        {
            return ascending ? "▲" : "▼";
        }
        return "";
    }
}
